# Fichiers IntelliJ
.idea/
*.iml
*.iws
*.ipr
out/
target/

# Fichiers Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup

# Fichiers Java
*.class
*.log

# Fichiers OS
.DS_Store
Thumbs.db

# Dossier de build
/build/
/bin/