# Maven
target/
*.class
*.jar
*.war

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Config locale (mot de passe BDD — ne pas partager)
database.properties
application-local.properties
config.properties

# Face ID samples
faces/

# Avatars
avatars/

# Backups SQL
eduverse_java_backup.sql
*.sql.bak
*_backup.sql
